<% layout("./layouts/boilerplate.ejs")%>
<body>
  <h2>Edit your Listings</h2>
  <form method="POST" action="/listings/<%= listing.id%>?_method=PUT">
    <input name="listing[title]" value="<%= listing.title%>" type="text" />
    <br /><br />

    <textarea name="listing[description]"><%= listing.description%></textarea>
    <br /><br />

    <input
      value="<%= listing.price%>"
      name="listing[price]"
      type="text"
    /><br /><br />

    <input
      value="<%= listing.location%>"
      name="listing[location]"
      type="text"
    /><br /><br />

    <input
      value="<%= listing.image%>"
      name="listing[image]"
      type="text"
    /><br /><br />

    <input
      value="<%= listing.country%>"
      name="listing[country]"
      type="text"
    /><br /><br />

    <button>Add</button>
  </form>
</body>
